:: This file is an example file. You need to copy this file (removing the .example from the name)
:: and adjust the paths to your local file structure

:: Set the meta information needed for the start/stop-server scripts
set "armaDir=C:\Program Files (x86)\Steam\steamapps\common\Arma 3"
set "exeName=arma3server_x64.exe"
set "modDir=C:\Program Files (x86)\Steam\steamapps\common\Arma 3\Mods"