:: This file is an example file. You need to copy this file (removing the .example from the name)
:: and adjust the paths to your local file structure
:: This file can be shared between OPT-Server and OPT-Client mods!

:: Set the meta information needed for the start/stop scripts
SET "armaDir=C:\Program Files (x86)\Steam\steamapps\common\Arma 3"
SET "exeNameServer=arma3server_x64.exe"
SET "exeNameClient=arma3_x64.exe"

:: @CLib and @OPT mods will be loaded from your build-directory.
:: If you need more mods, add them here.
:: Be sure to use absolute paths if they are not directly in the ArmA-directory.
SET "additionalMods=@CBA_A3;@ace;@ace_particles;@tfar;@diwako_dui"

:: Set path to your freshly build OPT-Client mod (the server has to load it, too)
SET "OPT-Client_Dir=Z:\Coding\OPT-Client-Mod\@OPT-Client"
